
.search__post_creation {
    background-color: #2E7310;
    padding: 7px 30px;
    border-radius: 20px;
    margin-left: 20px;
    white-space: nowrap;

    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}
.search__post_creation.active {
    background-color: #808080;
}

@media(max-width: 600px) {
    .search__post_creation {
        padding: 7px 25px;
        font-size: 18px;
        border-radius: 10px;
    }
}
